/* @font-face {
    font-family: "ABC Diatype Variable";
    src:
        url("../fonts/ABCDiatypeVariable-Trial.woff2") format("woff2"),
        url("../fonts/ABCDiatypeVariable-Trial.woff") format("woff"),
        url("../fonts/ABCDiatypeVariable-Trial.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
} */