body,
h1, h2, h3, h4, h5, h6 {
  font-size: var(--font-size-main);
}

body {
  font-family: var(--font-family-main);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-medium);
  font-weight: 400;
}

a {
  font-family: var(--font-family-medium);
  font-weight: 400;
}

.t-label,
.t-label:is(a) {
  font-family: var(--font-family-main);
  font-weight: 400;
}